@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold/3736F4_1_0.eot");
  src: url("../fonts/Gilroy-ExtraBold/3736F4_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold/3736F4_1_0.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold/3736F4_1_0.woff") format("woff"), url("../fonts/Gilroy-ExtraBold/3736F4_1_0.ttf") format("truetype"); }

body {
  margin: 0;
  padding: 0;
  background-color: #e94042;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 22px;
  color: #273440;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */ }

h1 {
  color: white;
  font-size: 9vw;
  font-weight: normal; }

img {
  width: 20%; }

.wrapper {
  position: absolute;
  bottom: 12vh;
  width: 20%; }

.process-bar {
  position: relative;
  background-color: #273440;
  height: 6px;
  width: 100%; }
  .process-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.current::before {
  width: 10%; }

.typewrite > .wrap {
  padding-right: 10px;
  border-right: 0.08em solid #fff; }

.cursor-blink {
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(1);
  animation-timing-function: steps(1); }

@-webkit-keyframes blink {
  0% {
    border-right: 0.08em solid white; }
  50% {
    border-right: 0.08em solid #e94042; }
  100% {
    border-right: 0.08em solid white; } }

@keyframes blink {
  0% {
    border-right: 0.08em solid white; }
  50% {
    border-right: 0.08em solid #e94042; }
  100% {
    border-right: 0.08em solid white; } }

.wrapper span {
  width: 100%;
  text-align: center; }
